<style>
    #times-card-usage-wrapper {
        width: 640px;
        padding: 0 30px;
        overflow: hidden;

        background: #fff;
        margin-bottom: 30px;
    }

    #times-card-usage-wrapper > div {

    }

    #times-card-usage-wrapper > div {
        color: #000;
        font-size: 28px;
        line-height: 28px;
        margin-top: 26px;
        margin-bottom: 24px;
    }

    #times-card-usage-wrapper > ol {
        margin-bottom: 32px;
    }

    #times-card-usage-wrapper > ol > li {
        font-weight: lighter;
        font-size: 24px;
        line-height: 24px;
        color: #666;
        margin-bottom: 25px;
    }
</style>

<div id="times-card-usage-wrapper">
    <div>使用规则</div>

    <ol>
        <li>在指定的店中，选择好想要的次卡商品</li>
        <li>点击购买，通过线上放式支付，获得指定的优惠券</li>
        <li>在指定的店铺中，购买适用的商品</li>
        <li>消耗优惠券，将该次服务的价格变为0</li>
    </ol>
</div>
