html {
    font-size: 16px;
}

body {
    background-color: #F5F6EB;
}

a {
    color: #34352C;
}

a:hover {
    text-shadow: 1px 1px 2px #00f;
}

.content {
    width: 64rem;
    margin: 0 auto;
}

.content > .header {
    width: 100%;
    height: 100px;

    background-color: #EFF0DC;
}

.content > .header > .logo {
    float: left;

    width: 120px;
    height: 100px;

    background: url("../../image/120x80-logo.png") no-repeat center;
}

.content > .header > .login, .content > .header > .titles {
    float: right;
    margin-right: 3rem;
}

.content > .header > .login {
    line-height: 100px;

    font-size: 1rem;
}

.content > .header > .titles {
    columns: 5 8rem;
    column-rule: 1px solid #C9CABB;

    line-height: 100px;
}

.content > .header > .titles > a {
    display: block;
    text-align: center;

    font-size: 2rem;
    text-decoration: none;
}

.content > .header > .titles > a:hover {
    text-shadow: none;
    background-color: #F5F6EB;
}

.content > .hot-names {
    width: 100%;
    height: auto;

    padding: 1rem;

    border: 1px groove #C9CABB;

    background-color: #34352C;
}

.content > .hot-names > .category {
    font-size: 1rem;
    line-height: 1.5em;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content > .hot-names > .category + .category {
    border-top: 1px dashed #fff;
}

.content > .hot-names > .category:before {
    content: attr(data-rel);
    display: inline-block;
    width: 4em;
    color: #EFF0DC;
}

.content > .hot-names > .category > a {
    display: inline-block;

    color: #EFF0DC;

    text-decoration: none;
    padding: 0 0.5em;
}

.content > .hot-names > .category > a:hover {
    text-shadow: 1px 1px 2px #fff;
}

.content > .hot-names > .category > a:first-child:before {
    content: ":";
    display: inline-block;
    color: #EFF0DC;
}

.content > .hot-articles {
    width: 60%;
    height: 800px;
    float: left;

    background-color: #EFF0DC;

}

.content > .hot-articles > .hot-article {
    width: 48%;
    height: 300px;
    margin: 1%;

    float: left;

    border: 1px groove #ffffff;
}

.content > .hot-articles > .hot-article:before {
    content: attr(data-rel);
    display: block;
    width: 100%;
    height: 2em;
    line-height: 2em;
    font-size: 1rem;
    color: #EFF0DC;
    background-color: #34352C;
}

.content > .hot-articles > .hot-article.image > .img {
    margin: 0.5em 0;
    overflow: hidden;
}

.content > .hot-articles > .hot-article.image > .img:hover {
    background-color: #F5F6EB;
}

.content > .hot-articles > .hot-article.image > .img > img {
    display: block;
    float: left;
    width: 30%;
    height: 3em;
    font-size: 1rem;
}

.content > .hot-articles > .hot-article.image > .img:after {
    content: attr(data-rel);
    display: block;
    float: right;
    width: 70%;
    height: 3em;
    font-size: 1rem;
    color: #34352C;
    line-height: 1rem;
    overflow: hidden;
}

.content > .hot-articles > .hot-article.plain > a {
    text-decoration: none;
    display: block;
    line-height: 1.5em;
    font-size: 1rem;

    width: 100%;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.content > .hot-pics {
    width: 40%;
    height: 400px;
    float: right;

    background-color: darkorchid;

    overflow: hidden;
}

.content > .hot-pics > ul {
    width: 100%;
    height: 100%;
    overflow: hidden;
    list-style: none;

    transition: transform 1s;
}

.content > .hot-pics > ul > li {
    width: 100%;
    height: 100%;
    float: left;
}

.content > .hot-pics > ul:after {
    content: '';
    clear: both;
}

.content > .hot-pics > ul > li > img {
    width: 100%;
    height: 100%;
}

.content > .hot-pics > .hot-pics-bar {
    width: 100%;
    height: 50px;

    background-color: rgba(0, 0, 0, 0.5);

    position: relative;
    top: -50px;

    font-size: 0;
    text-align: center;
}

.content > .hot-pics > .hot-pics-bar:after {
    content: '';
    display: inline-block;
    vertical-align: middle;

    width: 0;
    height: 100%;
}

.content > .hot-pics > .hot-pics-bar > span {
    display: inline-block;

    vertical-align: middle;
    width: 80px;
    height: 20px;

    background-color: transparent;
    border: 1px solid #ffffff;
}

.content > .hot-pics > .hot-pics-bar > span + span {
    border-left: none;
}

.content > .hot-pics > .hot-pics-bar > span.active {
    background-color: #ffffff;
}

.content > .footer {
    width: 100%;
    height: 100px;

    float: left;
    cursor: pointer;

    color: #EFF0DC;
    background-color: #34352C;

    font-size: 1rem;
    line-height: 100px;
    text-align: center;

    text-shadow: 1px 1px 2px #ffffff;
}